code, pre {
    font-family: monospace;
    background-color: rgba(132, 255, 253, 0.25);
    max-width: 600px;
}
.sidenav {
    height: 50%;
    width: 20%;
    position: fixed;
    background-color: black;
}
.sidenav a {
    color: whitesmoke;
    text-decoration: none;
    display: block;
}
header {
    color: red;
}
section {
    margin-left: 25%;
}
@media screen and (max-width: 480px) {
    .sidenav {
        position: unset;
    }
    .sidenav a {
        font-size: 18px;
    }
}
