code, pre {
    font-family: monospace;
    background-color: rgba(132, 255, 253, 0.25);
    max-width: 600px;
}
.sidenav {
    height: 100%;
    width: 27%;
    position: fixed;
    background-color: black;
    align-content: center;
}
.sidenav a {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    border: 2px solid white;
    height: 40px;
    font-size: 24px;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
}
header {
    color: red;
    height: 75px;
    border: 2px solid white;
    font-size: 26px;
    padding-top: 5px;
    padding-left: 15px;
}
section {
    margin-left: 30%;
}
@media screen and (max-width: 850px) {
    header {
        font-size: 18px;
    }
    .sidenav a {
        font-size: 16px;
    }
}
.heading {
    color: red;
    font-size: 36px;
    padding: 15px 0;
    height: 40px;
}
